!=partial('header')
.container
	.row-fluid
		.hero-unit
			.row
				h2 Check Before You Dig
					small &nbsp;Free Information on underground pipes
				h3 Email not found
				p The email you entered is not registered. Make sure the email is correct.
				p
				a(href='/forgotpassword') Back to Forgot Password
				p
				a(href='/') Home