!=partial('header')
.container
	.row-fluid
		form#confirm(method="POST", action="/forgotpassword")
			fieldset
				legend Enter your email
				label(for="email") Email
					input#email(type="email", name="email", required="required")
				button(type="submit", value="Submit") Submit
	!=partial('footer')

script(type='text/javascript', src='javascripts/jquery-1.7.1.min.js')
script(type='text/javascript', src='javascripts/form_validation.js')