.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			a.brand(href="#") Check Before You Dig &reg;
.container
	.row-fluid
		.span-9
			.hero-unit
				h1 Check Before You Dig
script(type='text/javascript', src='javascripts/jquery-1.7.1.min.js')
script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false')
script(type='text/javascript', src='javascripts/bootstrap.min.js')