#map_canvas.map.rounded
.toolbox.rounded
	fieldset
		legend Work Criteria
		p Enter the criteria for the work intended to be completed (e.g. Ziwani)
		label(for="start_address") Where
		input#start_address.long_text(type="text", name="start_address")
		br
		br
		label(for="type_of_work") Type of Work
		select#type_of_work(name: "flight_type")
			option(value='excavation') Excavation
			option(value='overhead-repairs') Overhead Repairs
		br
		br
		input#submit_query(type="button", value="Submit")
#loading
