#map_canvas.map
#header.light.shadow.rounded
	p "Check before you dig" is a service that allows public infrastructure contractors to know what underground assets (e.g. water and gas pipes) or overhead assets (e.g. electricity and communication cables) may be affected by their work. Enter the location you would like to search, or use the drawing tools on the right to select the area to search.
	.clear
	#where_holder.holder.left
		label.strong(for='txt_where') Where
		input#txt_where(name='txt_where', placeholder='e.g. Changamwe')
	#type_holder.holder.left
		label.strong(for='sel_type') Type of Work
		select#sel_type(name: "sel_type")
			option(value='excavation') Excavation
			option(value='overhead-repairs') Overhead Repairs
	#button_holder.holder
		a#btn_submit.link_button(href='#') Search
#sidebar.light.shadow.rounded
	#accordion
		.searches
			h4 
				a(href='#') My Searches
			.search
				ul#searches.searches
					li#no-searches
						span No Searches
					li.hide
						a(href='#')
							span Changamwe
						a.ui-icon.ui-icon-trash.right(href='#')
		.results
			h4
				a(href='#') My Results