!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
		link(rel='stylesheet', href='/stylesheets/cbug.css')
		link(rel='shortcut icon', 'href='/images/favicon.ico')
	body!=body