!!! 5
html
	head
		title= title
		script(type='text/javascript', src='javascripts/jquery-1.7.1.min.js')
		script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false&libraries=drawing')
		script(type='text/javascript', src='javascripts/web.js')
		script(type='text/javascript', src='javascripts/GeoJSON.js')
		script(type='text/javascript', src='javascripts/jquery-ui-1.8.17.custom.min.js')
		script(type='text/javascript', src='javascripts/jquery.dataTables.min.js')
		link(rel='stylesheet', href='/stylesheets/jquery-ui-1.8.17.custom.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/predef.css')
		link(rel='stylesheet', href='/stylesheets/jquery.dataTables.css')
		link(rel='shortcut icon', 'href='/images/favicon.ico')
		
		//-link(rel='stylesheet', href='/stylesheets/960.css')
	body!=body