!!! 5
html
	head
		title= title
		//-link(rel='stylesheet', href='/stylesheets/960.css')
		//-link(rel='stylesheet', href='/stylesheets/960_16_cols.css')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		//-link(rel='stylesheet', href='/stylesheets/prettify.css')
		link(rel='stylesheet', href='/stylesheets/predef.css')
		script(type='text/javascript', src='javascripts/jquery-1.7.1.min.js')
		script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false')
		script(type='text/javascript', src='javascripts/web.js')
	body!= body