!=partial('header')
.container
	.row-fluid
		.hero-unit
			.row
				h2 Check Before You Dig
					small &nbsp;Free Information on underground pipes
				h3 Thank you for your registration
				p An activation email was sent to your registered email.