.test
	.inner
		label(for="criteria") Criteria
		input#criteria(type="text", name="criteria", value="Changamwe")
		input#submit(type="submit") Submit
	
		.results
			h4 RESULTS
			#mapimage
			ol#results