html, body, .map
  width: 100%
  height: 100%
body
  padding: 0
  margin: 0
  font: 12px/1.5 Verdana, sans-serif
.toolbox
  position:absolute
  bottom:25px
  width: 400px
  //height: 100px
  right: 25px
  z-index:99999
  padding: 1em
  background:#ffffff
.rounded
  border-radius: 8px
  -moz-border-radius: 8px
  -webkit-border-radius: 8px
  -khtml-border-radius: 8px
input, select
  margin-left: 10px
  border: 1px solid #000000
.long_text
  width: 300px